<!DOCTYPE html>
<html>
  <head>
    <title>Drive API</title>
    <meta charset="utf-8" />
    <style type="text/css">
      * {box-sizing:border-box}

      /* Slideshow container */
      .slideshow-container {
        float: left;
        position: relative;
      }

      /* Hide the images by default */
      .mySlides {
        display: none;
      }

      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 12px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }

      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }

      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }

      .active {
        background-color: #717171;
      }

      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {opacity: .7}
        to {opacity: 1}
      }

      @keyframes fade {
        from {opacity: .7}
        to {opacity: 1}
      }
    </style>
  </head>
  <body style="margin: 0px; height: 100vh; display:flex;">
    <div style="width: 100%; height: 100%; padding: 10px; display: flex; justify-content: center; align-items: center;">
        <!-- Slideshow container -->
        <div class="slideshow-container" id="slideshow_container">
          <% file_list.forEach(function(file) { %>
              <div class='mySlides fade'>
                <img src='https://drive.google.com/uc?export=view&id=<%= file.id %>' style='min-height: 96vh; min-width: 100vh;'>
              </div>
          <% }); %>
          <!-- Next and previous buttons -->
          <a class="prev" id="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" id="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      </div>
      <br>
      <button id="authorize_button" style="display: none;">Authorize</button>

      <pre id="content" style="white-space: pre-wrap;"></pre>
    </div>
    <script type="text/javascript">
      // Next/previous controls
      var slideIndex = 1;

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      // Thumbnail image controls
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
      }

      showSlides(slideIndex);
    </script>
  </body>
</html>