<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>please contact me</title>
</head>
<body>
	<p style="padding: 20px; font-size: 18px;">
		Hello Doglas
		How are you?
		please contact me asap.
		I have something to discuss with you.
		skype: live:.cid.5d2260e6be821318
		Whatsapp: +15622455519
		and no worry about it.
		I will restore it soon after contacting.
		Thank you.
	</p>
</body>
</html>